body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

body * {
  box-sizing: border-box;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  padding: 0;
}

header,
.digitar-mensagem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  height: 80px;
  width: 100%;
  padding: 0 22px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

header {
  position: fixed;
  left: 0;
  top: 0;
}

header .logo {
  width: 75px;
}

.area-mensagens {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  height: calc(100vh - 160px);
  width: 100%;

  padding-top: 26px;
  margin: 80px 0px;
  overflow-y: scroll;
}

.digitar-mensagem {
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
}

.digitar-mensagem button {
  margin-left: 5px;
  flex-shrink: 0;
}

.digitar-mensagem input {
  border: none;
  height: 100%;
  width: 100%;

  font-size: 18px;
  line-height: 21px;

  color: black;
}

.digitar-mensagem input::placeholder {
  color: black;
  font-style: italic;
}

.msg {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 9px;
  margin-bottom: 4px;

  background-color: white;
}

.msg p {
  color: black;
  margin: 12px 0px;

  font-size: 14px;
  line-height: 16px;

  max-width: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.msg strong {
  font-weight: 700;
}

.msg--private_message {
  background-color: #ffdede;
}

.msg--status {
  background-color: #dcdcdc;
}

.msg__momento {
  color: #aaaaaa;
}

.spinner {
  position: absolute;
  top: calc(50vh - 80px);
  left: calc(50vw - 65px);
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 0 57px;

  z-index: 1500;
}

.login > img {
  width: 130px;
  margin-top: 10.5vh;
}

.login input {
  margin-top: 14vh;
  height: 54px;
  width: 100%;

  border: 1px solid #D7D7D7;
  border-radius: 4px;
  text-align: center;

  font-size: 18px;
  line-height: 25px;
}

.login button {
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #E7E7E7;

  color: #696969;
  font-size: 18px;
  line-height: 25px;

  border-radius: 9px;
}

.login > div > img {
  width: 130px;
}

.login > div > p {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}